@use "../abstracts" as *;
@use "../base" as *;
.dashboard-grid {
  display: flex;
  min-height: 100dvh;
  gap: 1.5em;

  & > div:first-child {
    @extend .flex;
    flex-direction: column;
    gap: 3em;
    align-items: start;
    flex-basis: min(33%, 30ch);
    background-color: var(--clr-primary);
    color: var(--clr-background);
    padding: 1em;
  }

  &__logo {
    @extend .flex;
    letter-spacing: 2px;

    & img {
      width: 3em;
    }
  }

  &__logo + div {
    width: 100%;

    a {
      @extend .flex;
      @extend .link;
      padding-block: 0.5em;
      padding-left: 0.5em;
      border-radius: 0.3em;

      &:is(:hover, :focus-visible) {
        background-color: var(--clr-accent);
      }
    }
  }

  & > section {
    padding-block: 1.5em;
    padding-right: 1.5em;
    flex-basis: min(67%, 100% - (30ch + 3em));
  }

  .logout {
    @extend .flex;
    @extend .link;
    width: 100%;
    padding-block: 0.5em;
    padding-left: 0.5em;
    border-radius: 0.3em;

    &:is(:hover, :focus-visible) {
      background-color: var(--clr-accent);
    }
  }
}

.dashboard {
  &__profile {
    @extend .flex;
    justify-content: space-between;
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid var(--clr-text);

    img {
      width: 4em;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 2px solid var(--clr-primary);
    }

    svg {
      font-size: 4rem;
      padding: 0.05em;
      border-radius: 50%;
      border: 2px solid var(--clr-primary);
    }
  }

  &__widgets {
    @extend .flex;
    gap: 1em;
    margin-bottom: 1.5em;
    align-items: stretch;
    flex-wrap: wrap;

    & > div {
      flex: 1;
      flex-basis: max(15ch, 25% - 1em);
      background-color: var(--clr-primary);
      color: var(--clr-background);
      padding: 1em;
      border-radius: 0.5em;
      text-align: center;

      svg {
        font-size: 3rem;
        display: block;
        margin-inline: auto;
        margin-bottom: 0.3em;
      }

      p {
        @extend .flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      span:first-of-type {
        font-weight: bold;
      }
    }
  }

  &__details {
    h2 {
      margin-bottom: 0.4em;
    }

    & > div {
      display: grid;
      grid-template-columns: em(220) 1fr;
      gap: 2em;

      form {
        & > * + * {
          margin-top: 0.7em;
        }

        input {
          display: block;
          width: 100%;
        }

        input:last-of-type {
          @extend .btn;
          background-color: var(--clr-primary);
          padding-block: 0.3em;
          color: var(--clr-background);
          border-radius: 0.3em;

          &:is(:hover, :focus-visible) {
            background-color: var(--clr-accent);
          }
        }
      }

      table {
        text-align: left;
        width: 80%;
      }
    }
  }
}
