//Basic typography styles for body text
body {
  font-family: var(--ff-base);
  color: var(--clr-text);
  background-color: var(--clr-background);
  font-size: var(--fs-400);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-headings);
  line-height: 1.2;
}

h1 {
  font-size: var(--fs-900);
}

h2 {
  font-size: var(--fs-800);
}

h3 {
  font-size: var(--fs-700);
}

h4 {
  font-size: var(--fs-600);
}

h5 {
  font-size: var(--fs-500);
}
