//utility classes, sass placeholders and css custom properties
@use "../abstracts" as *;

%sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  --clr-text: #{$clr-text};
  --clr-background: #{$clr-background};
  --clr-primary: #{$clr-primary};
  --clr-accent: #{$clr-accent};
  --clr-secondary: #{$clr-secondary};

  --ff-base: "PT Sans", sans-serif;
  --ff-headings: "Nunito", sans-serif;

  --fs-400: clamp(1rem, calc(0.93rem + 0.4vw), 1.25rem);
  --fs-500: clamp(1.2rem, calc(1.09rem + 0.58vw), 1.56rem);
  --fs-600: clamp(1.44rem, calc(1.29rem + 0.82vw), 1.95rem);
  --fs-700: clamp(1.73rem, calc(1.51rem + 1.14vw), 2.44rem);
}

.flex {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5em;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.link {
  text-decoration: none;
}
