@use "../abstracts" as *;

:root {
    @include dark {
        --clr-text: var(--clr-dark-text) !important;
        --clr-background: var(--clr-dark-background) !important;
        --clr-primary: var(--clr-dark-primary) !important;
        --clr-secondary: var(--clr-dark-secondary) !important;
        --clr-accent: var(--clr-dark-accent) !important;
    }
}