:root {
    --clr-text: var(--clr-light-text);
    --clr-background: var(--clr-light-background);
    --clr-primary: var(--clr-light-primary);
    --clr-secondary: var(--clr-light-secondary);
    --clr-accent: var(--clr-light-accent);
}